* {
    text-decoration: none;
    background-color: white;
}


/* Banner style */

.banner {
    background-image: url("../img/banner.png");
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Container Style */

.container {
    width: 90%;
    margin: auto;
}


/* Index Style */

.index {
    display: flex;
    flex-direction: column;
}

.index .links {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: start;
    grid-gap: 10px;
}

.index .links a {
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 15px;
    color: lightslategrey;
}

.index .links a:hover {
    background-color: black;
    color: white;
}


/* Content style */

.content h1 {
    font-size: 30px;
}

.content .list {
    list-style-type: decimal;
}

.content .list .icon {
    width: 50px;
    padding-bottom: 20px;
}

.content .list li {
    font-size: 30px;
    border-bottom: 5px solid gray;
}

.content .list p {
    font-size: 20px;
}

.content .list blockquote {
    border-left: 5px solid gray;
    margin-left: 0;
    padding-left: 20px;
}

.html-code {
    background-color: #fcb603;
    padding: 20px;
}

.img-content {
    max-width: 100%;
}

.content .list .galeria-imagenes .selector {
    text-align: center;
}

.content .list .galeria-imagenes .selector .selectImage {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    opacity: .5;
}

.content .list .galeria-imagenes .selector .selectImage a {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: -50px;
}

.clear {
    background-color: white;
}

.dark {
    background-color: lightslategray;
}

.content .list .form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content .list .form input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

.content .list .form button {
    color: white;
    height: 35px;
    margin-top: -45px;
    align-self: flex-end;
    border: 10px;
    background-color: black;
    border-radius: 10px;
    margin-right: -3px;
}

.content .list .form button:hover {
    transform: scale(1.1);
}


/* Footer */

footer {
    background-color: rgb(32, 29, 29);
    color: white;
    text-align: center;
    height: 150px;
    padding: 20px;
    font-size: 30px;
}

footer img {
    width: 40px;
    height: 40px
}

@media (min-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .index .links a {
        display: flex;
        flex-direction: column;
        align-items: start;
        height: auto;
        cursor: pointer;
        border-radius: 10px;
        font-size: 20px;
        color: lightslategrey;
    }
}